<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SEARCH_API_KEY</key>
	<string>pMmPWecUby8Hn4kQJgzCEp4B</string>
	<key>SUPADATA_API_KEY</key>
	<string>sd_a3c86d7903a28b8a99867e356f67d486</string>
</dict>
</plist>
